body{
    margin: 0;
    padding: 0;
}

#horloge {
   color: black;
  }

#liste{
    display: none;
}

#msg{
    height: 100px;
}

#container_input{
    display: flex;
    flex-direction: column;
    width: 500px;
}

#result{
    border: solid 1px black;
    height: 50px;
    width: 100%;
    display: flex;
}

#ecran{
    width: 800px;
    height: 150px;
    background-color: lightgrey;
}

#pave{
    margin-top: 20px;
    width: 800px;
    height: 400px;
    background-color: lightgrey;
}

th button{
    background-color: white;
    width: 195px;
    height: 95px;
    border-radius: 20px;
    font-size: 50px;
    border : solid 1px lightblue;
}

#resultat{
    position:absolute;
    height: 50px;
    width: 800px;
    left: 800px;
    bottom: 810px;
    font-size: 40px;
    font-weight: bold;
    color: darkblue;
}

h1{
    text-align: center;
}

#task-add{
    border-bottom: solid 1px;
    margin-bottom: 10px;
    
}

#name-task{
    padding: 10px;
    margin: 10px;
}

#button-add{
    background-color: mediumseagreen;
    border: none;
    color: white;
    margin-left: 300px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

#listtask{
    height: 400px;
}

#list-task-ul{
    list-style:none;
}

.comment{
    font-weight: bold;
}

.buttondelete{
    padding: 2.5spx;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    text-shadow: 1px;
    margin-left: 100px;
}

#button-deleteall{
    border:none;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#save-task{
    border: solid 1px grey;
}

#name-save{
    padding: 10px;
    margin: 10px;
}

#button-save{
    padding: 10px;
    background-color: grey;
    color: white;
    border: none;
    margin-left: 300px;
    width: 300px;
    border-radius: 5px;
}

#list-save{
    border: solid 1px grey;
    margin-top: 10px;
}

#list-save-task{
    padding: 10px;
    margin: 10px;
}

#button-load{
    padding: 10px;
    background-color: grey;
    color: white;
    border: none;
    margin-left: 300px;
    width: 300px;
    border-radius: 5px;
}
