body{
	font-family: Montserrat;
	margin: 0;
	padding: 0;
}

/* ________________________________________\Header part/_____________________________________ */

nav{
	background-image: url("../images/header-bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 115px;
}

nav ul{
	list-style-type: none;
	display: flex;
	justify-content: end;
	max-height: 100%;
	max-width: 100%;
}

nav ul li{
	color: white;
	padding: 12px;
	margin-top: 30px;
	font-weight: bold;
	border-top: solid 4px grey;
}

nav ul li a {
	text-decoration: none;
	color: white;
}

nav ul li:hover{
	border-top: solid 4px white;
}
	
#logo{
	position: absolute;
	right: 75%;
	bottom: 90%;
}

/* _____________________________________\Main Part/_____________________________________ */

/* (CATEGORIES) */

.container{
	position: absolute;
	right: 70%;
	bottom: 55%;
}

.trait{
	width: 100px;
	border: solid 3px #6495ed;
	border-radius: 2px 2px 2px 2px;
}

ul{
	list-style-type: none;
}

.trait + ul li{
	background-image: url("../images/li.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: left;
	padding-left: 40px;
}

ul li a{
	text-decoration: none;
	color: black;
}

ul li a:hover{
	color: lightblue;
}

/* (BLOG) */

.container2{
	position: absolute;
	right: 60%;
	bottom: 70%;
}

.imgcontainer{
	margin-top: 165px;
	margin-right: 14%;
}

.imgcontainer img{
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 20%;
	margin: auto;
}

.imgcontainer h3{
	color: lightblue;
	
}

.sous_container{
	width: 20%;
	margin: auto;
}

.tag{
	background: green;
}

.tag ul{
	display: flex;
	margin-right: 200px;
}
	
.tag ul li{
	padding-right: 10px;
}
